    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit-smaller">
      	<% theme = Theme.find(params[:id]) %>
        <h1><%= theme.name %></h1>

        <p>View the 
        	<%= link_to 'coloring book', @theme.pdf %> or select a sub-theme</p>
        <p>
        	<ul>
        		<% Subtheme.where('theme_id = ?', "#{@theme.id}").each do |s| %>
        			<li><%= link_to s.name, subtheme_path(s) %></li>
        		<% end %>
        	</ul>
        </p>
      	<%= image_tag @theme.image, width: '400', height: '600' %>

      </div>

    </div>
