    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit-smaller">
        <h1>Spanish</h1>
        <p>Select a sub-theme</p>
        <p>
        	<ul>
        		<% Subtheme.where('theme_id = ?', "#{@theme.id}").each do |s| %>
        			<li><%= link_to s.name, subtheme_path(s) %></li>
        		<% end %>
        	</ul>
        </p>
        <div style="float:right;">
        	Theme PDF Link
        	<%= @theme.pdf %>
        </div>

      	<%= image_tag @theme.image, width: '400', height: '600' %>
      </div>

    </div>
