<h1>Themes#show</h1>
<p>Find me in app/views/themes/show.html.erb</p>

<p>
	PDF
	<%= @theme.pdf %>
</p>
<p>
	Image
	<%= image_tag @theme.image %>
</p>
<p>
	Subthemes
	<ul>
		<% Subtheme.where('theme_id = ?', "#{@theme.id}").each do |s| %>
			<li><%= link_to s.name, subtheme_path(s) %></li>
		<% end %>
	</ul>
</p>