    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit-smaller">
        <h1>Español</h1>
        <p>Select a theme</p>
        <!--
        <p>
        	<ul>
          	<% @language.themes.each do |t| %>
          		<li><%= link_to t.name, theme_path(t) %></li>
          	<% end %>
        	</ul>
        </p>
        <hr/>
        -->
        <p>
        	<% @language.themes.each do |t| %>
          	<div style="display:inline-block;width:200px;">
            	<div style="width:200px;text-align:center;margin-left:10px;"><%= link_to t.name, theme_path(t) %></div>
              <%= image_tag t.image, width: '200' %>
          	</div>
        	<% end %>
        </p>
      </div>

    </div>

