    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>SFS Languages</h1>
        <p>Learn more about how SFS Languages can provide exposure to another language.</p>
        <p><a href="languages/<%= Language.first.id %>" class="btn btn-primary btn-large">Get Started &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>What is SFS Languages</h2>
          <p>SFS is experiential online learning; a web-based learning tool. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Who is using SFS Languages</h2>
          <p>School districts are using SFS in after school programs to supplement existing curriculum. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Get started using SFS Languages</h2>
          <p>Choose from the following languages</p>
            <ul>
            <% Language.all.each do |l| %>
            	<li><%= link_to l.name, language_path(l) %></li>
            <% end %>
            </ul>
        </div>
      </div>
    </div>

